Repository googleapis/python-dialogflow-cx, pull requests merged in 2020-12, with the labels that each got.

#18 chore: add 3.9 unit tests
  google/cloud/dialogflowcx_v3beta1/__init__.py
  noxfile.py
  synth.metadata
Labels: api: dialogflow, cla: yes, context: none

#29 Sample code update for regionalization
  samples/snippets/detect_intent_audio.py
  samples/snippets/detect_intent_audio_test.py
  samples/snippets/detect_intent_stream.py
  samples/snippets/detect_intent_stream_test.py
  samples/snippets/detect_intent_texts.py
  samples/snippets/detect_intent_texts_test.py
  samples/snippets/noxfile_config.py
Labels: api: dialogflow, cla: yes

#37 chore: exclude `.nox` from linting; update suported python versiosn
  .flake8
  CONTRIBUTING.rst
  google/cloud/dialogflowcx_v3/__init__.py
  google/cloud/dialogflowcx_v3beta1/__init__.py
  synth.metadata
Labels: api: dialogflow, cla: yes, context: partial
