Repository googleapis/python-dialogflow-cx, pull requests merged in 2021-08, with the labels that each got.

#141 chore: require CODEOWNER review and up to date branches
  .github/sync-repo-settings.yaml
Labels: api: dialogflow, cla: yes

#146 docs(samples): add agent creation code snippet
  samples/snippets/create_agent.py
  samples/snippets/create_agent_test.py
Labels: cla: yes, samples, api: dialogflow

#142 docs(samples): add update intent sample
  samples/snippets/update_intent.py
  samples/snippets/update_intent_test.py
Labels: cla: yes, samples, api: dialogflow

#149 chore: generate python samples templates in owlbot.py
  owlbot.py
  samples/snippets/noxfile.py
Labels: automerge, cla: yes, samples, api: dialogflow

#150 docs(samples): add region tags
  samples/snippets/update_intent.py
Labels: cla: yes, samples, api: dialogflow

#151 docs(samples): add region tags
  samples/snippets/create_agent.py
Labels: automerge, cla: yes, samples, api: dialogflow

#154 chore: migrate to main branch
  .github/sync-repo-settings.yaml
  .kokoro/build.sh
  .kokoro/test-samples-impl.sh
  CONTRIBUTING.rst
  docs/conf.py
  owlbot.py
  samples/AUTHORING_GUIDE.md
  samples/CONTRIBUTING.md
Labels: cla: yes, api: dialogflow
