Repository googleapis/python-dialogflow-cx, pull requests merged in 2021-04, with the labels that each got.

#58 fix(v3): BREAKING rename `UserInput.input_` to `UserInput.input`
  google/cloud/dialogflowcx_v3/__init__.py
  google/cloud/dialogflowcx_v3/types/__init__.py
  google/cloud/dialogflowcx_v3/types/test_case.py
  google/cloud/dialogflowcx_v3beta1/__init__.py
  google/cloud/dialogflowcx_v3beta1/types/__init__.py
  google/cloud/dialogflowcx_v3beta1/types/test_case.py
  setup.py
  synth.metadata
  testing/constraints-3.6.txt
Labels: api: dialogflow, cla: yes, context: partial

#68 chore: remove .tar.gz
  dialogflow-cx-v3beta1-py.tar.gz
  google/cloud/dialogflowcx_v3beta1/__init__.py
  synth.metadata
Labels: api: dialogflow, cla: yes, context: none

#71 chore: add license headers
  .pre-commit-config.yaml
  dialogflow-cx-v3beta1-py.tar.gz
  docs/conf.py
  google/cloud/dialogflowcx_v3/__init__.py
  google/cloud/dialogflowcx_v3beta1/__init__.py
  synth.metadata
Labels: api: dialogflow, cla: yes, context: partial

#74 chore: prevent normalization of semver versioning
  setup.py
Labels: api: dialogflow, cla: yes

#75 chore(revert): revert preventing normalization
  setup.py
Labels: api: dialogflow, automerge, cla: yes
